new.html.erb
<h3>casestudy#new</h3>

<%= render partial: "casestudies/partials/casestudy_form", casestudy: @casestudy %>

<%= link_to 'Cancel',casestudies_path, :class => 'btn bg-dark text-light px-md-5 btn-block border', :style => 'margin:10px 20px 10px 5px;' %>
		 		