<h1>This is Content Creator Dashboard</h1>

<%= link_to "Casestudies", casestudies_path , :class => 'btn bg-dark text-light'%>
<p></p>
<%= link_to "Assign Casestudies to User", casestudy_users_path , :class => 'btn bg-dark text-light'%>
<p></p>
<%= link_to "Traits", traits_path , :class => 'btn bg-dark text-light'%>